/*
 * @Author: Kanata You 
 * @Date: 2022-03-15 17:57:14 
 * @Last Modified by: Kanata You
 * @Last Modified time: 2022-03-15 23:57:12
 */

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Menlo, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #202020;
  color: rgb(232, 232, 232);
  font-size: 14px;
  line-height: 1.2;
  white-space: pre-wrap;
}

code {
  font-family: Menlo, Consolas, monospace;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
